@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #ffffff;
    width: 100%;
    height: 750px;
}

header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 20px;
    margin-top: 10px;
}

header li a#hav-logo {
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

header li a {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    color: rgb(0, 0, 0);
}   

header p.main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 400;
    align-items: center;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
}

header p.main-text b{
    font-family: "IBM Plex Sans", sans-serif;
}

.main img {
    width : 100%;
    max-height: auto;
    object-fit: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main .second-text {
    width: 100%;
    height: 600px;
    background-color: black;
}

.main p {
    font-family: 'ibm plex sans', sans-serif;
    color: white;
    position: relative;
    text-align: center;
    align-items: center;
    top: 40%;
    transform: translateY(-50%, -50%);
    font-size: 30px;
}

.main .footer-navbar {
    background-color: white;
    width: 100%;
    height: auto;
}

.footer-navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.footer-navbar li a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.footer-navbar li a#hav-logo {
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}